body {
	margin: 0;
}

.d-no {
	display: none;
}

#game {
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7QHwBeyk8LXmViRyAHTJBMB9WLvyvQVtX6A&usqp=CAU");
	background-size: 10px;
	overflow: hidden;
	position: fixed;
	top: 0; left:0;
	height: var(--wh);
}

#hud {
	transition: 1s;
	position: absolute;
	top: 0; left: 0;
	height: calc(var(--wh));
	width: var(--ww);
	background: rgba(0,0,0,0.9);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center ;
}

.hud-panel , .hud-dialog {
	display: none;
}

#hud > *[state="active"] {
	--h : 400px;
	height: var(--h);
	width: 300px;
	background: #ffe;
	border-radius: 5px;
	overflow: hidden;
	--row : calc(var(--h) / 2);
	display: grid !important;
	grid-template-rows: auto auto;
}

.screen-logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: 0;
}

.screen-logo > * {
	aspect-ratio: 1/1;
	width: 50%;
	background: red;
	border-radius: 10%;
}

.screen-options {
	background: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.screen-options > button {
	padding: 10px 0;
	border: 0;
	border-radius: 6px;
	display: block;
	margin: 5px 0;
	
	box-shadow: 0 4px 0 #000;
	color: #ffe;
	font-weight: 600;
	font-family: sans;
	font-size: 1.2rem;
	width: 180px;
	background: #333;
}

.screen-options > button:active {
	box-shadow: 0 1px 0 #000;
	transform: translateY(3px);
}

#play {
}

#hs {
}

.hud-dialog {
	grid-template-rows: 40px auto auto !important;
}

.screen-title {
	box-sizing: border-box;
	line-height: 40px;
	padding: 0 10px;
	font-family: sans;
	font-weight: 670;
	margin: 0 5px;
	border-bottom: 1px solid #fff;
	color: #fff;
}

#lvl button {
	padding: 6px 0;
	width: 150px;
	background: #333;
	font-size: 1rem;
	color: #eee;
}